<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PaperClip</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

        <link rel="stylesheet" href="style.css">
    </head>

    <body>
    <section id="header">
        <a href="#">
            <i class="fa fa-paperclip" class="logo"></i>
        </a>
        <h2>PaperClip</h2>
        <div>
            <ul id="navbar">
                <li><a class="active" href="index.html">Strona główna</a></li>
                <li><a href="shop.html">Oferta</a></li>
                <li><a href="shop.html">Moje konto</a></li>
                <li><a href="contact.html">Pomoc</a></li>
                <li><a href="cart.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a></li>
            </ul>
        </div>

    </section>

    <section id="hero">
        <h4>Witamy w naszym sklepie</h4>
        <h2>Najlepszy sklep papierniczy</h2>
        <h1>we  Wrocławiu </h1>
        <button onclick="window.location.href='shop.html'">Przejdź do oferty</button>
    </section>

    <section id="product1" class="section-p1">
        <h2>Nowości</h2>

        <div class="pro-container">
            <div class="pro">
                <img src="../img/products/backpack.png">
                <div class="des">
                    <span>adidas</span>
                    <h5>Czarny plecak</h5>
                    <h4>50.00 zł</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="../img/products/backpack.png">
                <div class="des">
                    <span>adidas</span>
                    <h5>Czarny plecak</h5>
                    <h4>50.00 zł</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="../img/products/backpack.png">
                <div class="des">
                    <span>adidas</span>
                    <h5>Czarny plecak</h5>
                    <h4>50.00 zł</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="../img/products/backpack.png">
                <div class="des">
                    <span>adidas</span>
                    <h5>Czarny plecak</h5>
                    <h4>50.00 zł</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="../img/products/backpack.png">
                <div class="des">
                    <span>adidas</span>
                    <h5>Czarny plecak</h5>
                    <h4>50.00 zł</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="../img/products/backpack.png">
                <div class="des">
                    <span>adidas</span>
                    <h5>Czarny plecak</h5>
                    <h4>50.00 zł</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="../img/products/backpack.png">
                <div class="des">
                    <span>adidas</span>
                    <h5>Czarny plecak</h5>
                    <h4>50.00 zł</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="../img/products/backpack.png">
                <div class="des">
                    <span>adidas</span>
                    <h5>Czarny plecak</h5>
                    <h4>50.00 zł</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
        </div>
    </section>




        <script src="script.js"></script>
    </body>

</html>