<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaperClip</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

    <link rel="stylesheet" href="style.css">
</head>

<body>
<section id="header">
    <a href="#">
        <i class="fa fa-paperclip" class="logo"></i>
    </a>
    <h2>PaperClip</h2>
    <div>
        <ul id="navbar">
            <li><a href="index.html">Strona główna</a></li>
            <li><a class="active" href="shop.html">Oferta</a></li>
            <li><a href="shop.html">Moje konto</a></li>
            <li><a onclick="contactChoice()">Pomoc</a></li>
            <li><a href="cart.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a></li>
        </ul>
    </div>

</section>

<section class="account-header">
    <h2>Nasza oferta</h2>
</section>
<div id="myModal" class="modal">
    <div class="modal-content">
        <p>Dodano produkt do koszyka</p>
        <button id="continueButton" onclick=" window.location.href = 'shop.html'">Kontynuuj zakupy</button>
    </div>
</div>

<div id="contactModal" class="contactModal">
    <div class="contactModal-content">
        <p>Skontaktuj się z nami:</p>
        <button class="contactButton" onclick="window.location.href = 'contact.html'">Kontakt przez formularz</button>
        <button class="contactButton"><a href="mailto:anna@pwr.edu.pl">Kontakt przez email</a></button>
    </div>
</div>


<section id="product1" class="section-p1">
    <div class="filter-products">
        <input type="text" id="searchProduct" placeholder="Wyszukaj produkt...">
        <select id="categorySelect">
            <option value="all">Wszystkie kategorie</option>
            <option value="clothing">Odzież</option>
            <option value="electronics">Elektronika</option>
            <option value="books">Książki</option>
            <!-- Dodaj więcej kategorii według potrzeb -->
        </select>
        <button id="applyFilter">Szukaj</button>
    </div>

    <div class="pro-container">
        <div class="pro">
            <img src="../img/products/backpack.png" onclick="window.location.href='sproduct.html'">
            <div class="des">
                <span>adidas</span>
                <h5>Czarny plecak</h5>
                <h4>50.00 zł</h4>
            </div>
            <a onclick="addToCart()"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="../img/products/backpack.png">
            <div class="des">
                <span>adidas</span>
                <h5>Czarny plecak</h5>
                <h4>50.00 zł</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="../img/products/backpack.png">
            <div class="des">
                <span>adidas</span>
                <h5>Czarny plecak</h5>
                <h4>50.00 zł</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="../img/products/backpack.png">
            <div class="des">
                <span>adidas</span>
                <h5>Czarny plecak</h5>
                <h4>50.00 zł</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="../img/products/backpack.png">
            <div class="des">
                <span>adidas</span>
                <h5>Czarny plecak</h5>
                <h4>50.00 zł</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="../img/products/backpack.png">
            <div class="des">
                <span>adidas</span>
                <h5>Czarny plecak</h5>
                <h4>50.00 zł</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="../img/products/backpack.png">
            <div class="des">
                <span>adidas</span>
                <h5>Czarny plecak</h5>
                <h4>50.00 zł</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="../img/products/backpack.png">
            <div class="des">
                <span>adidas</span>
                <h5>Czarny plecak</h5>
                <h4>50.00 zł</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </div>
</section>


<script src="script.js"></script>
</body>

</html>