<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaperClip</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="style.css">
    <script src="employeeScript.js"></script>
</head>
<body>
<section id="header">
    <a href="#">
        <i class="fa fa-paperclip" class="logo"></i>
    </a>
    <h2>PaperClip</h2>
    <div>
        <ul id="navbar">
            <li><i class="fa fa-user-circle-o" aria-hidden="true"></i> Samantha</li>
            <li><a class="active" href="shop.html">Oferta</a></li>
            <li><a href="cart.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
            <li id="menu-bars"><i class="fa fa-bars" aria-hidden="true"></i>
                <ul>
                    <li><a href="orders.html"><i class="fa fa-history" aria-hidden="true"></i>  Historia zamówień</a></li>
                    <li><a href="myAccount.html"><i class="fa fa-user" aria-hidden="true"></i>  Moje konto</a></li>
                    <li><a href="#"><i class="fa fa-gift" aria-hidden="true"></i>  Moje punkty</a></li>
                    <li><a href="#"><i class="fa fa-question" aria-hidden="true"></i>  Pomoc</a></li>
                    <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>  Wyloguj</a></li>
                </ul>
            </li>
        </ul>
    </div>

</section>
<section class="account-header">
    <h2>Dodawanie produktu</h2>
</section>
<div id="myModal" class="modal">
    <div class="modal-content">
        <p>Pomyślnie dodano produkt</p>
        <button id="continueButton" onclick=" window.location.href = 'offer.html'">OK</button>
    </div>
</div>
<div class="form-container">
    <div class="first-part-form">
        <div class="form-group">
            <label for="productName">Nazwa</label>
            <input type="text" id="productName" name="productName" required>
        </div>

        <div class="form-group">
            <label for="category">Kategoria</label>
            <input type="text" id="category" name="category" required>
        </div>

        <div class="form-group">
            <label for="imagePath">Ścieżka do Zdjęcia</label>
            <input type="file" id="imagePath" name="imagePath" accept="image/*" required>
        </div>

        <div class="form-group">
            <label for="quantity">Ilość na Stanie</label>
            <input type="number" id="quantity" name="quantity" min="1" required>
        </div>
    </div>

    <div class="second-part-form">
        <div class="form-group">
            <label for="price">Cena</label>
            <input type="number" id="price" name="price" step="0.01" min="0.01" required>
        </div>

        <div class="form-group">
            <label for="description">Opis</label>
            <textarea id="description" name="description" rows="4" required></textarea>
        </div>

        <div class="button-group">
            <button class="cancel" onclick="cancelFunction()">
                <i id="cancelBtn" class="fa fa-times" aria-hidden="true"></i>
            </button>
            <button class="save" onclick="saveFunction()">Zapisz</button>
        </div>
    </div>
</div>

</body>
</html>
